@import url('https://fonts.googleapis.com/css2?family=Anton&family=Joan&family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none ;
}

body {
    font-size: 100%;
    background: linear-gradient(1deg, #4e54c8, #8f94fb);

}

header{

}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    gap: 5px;
    

}

.cabecalho-imagem{
    display:flex;
    border: 3px solid rgb(132, 190, 243);
    border-radius: 10px;
    justify-content: space-around;
}

.cabecalho-dados {
    font-family: 'Anton', sans-serif;    
    font-weight: 100;
    font-size: 15px;
    color: white;
    display: flex; 
    flex-direction: column;
    gap: 1px;
    border-radius: 100px;

}

.github {
    color:white;

}

.instagram {
    color:white;

}

.conteudo-principal-escrito{
    display:flex;
    font-family: 'Anton', sans-serif;    
    font-weight: 10;
    font-size: 30px;
    color: white;

}

.html{
    display: flex;
    flex-direction: column;
}

.css{
    display: flex;
    flex-direction: column;

}

.js{
    display: flex;
    flex-direction: column;   

}
